.hero{
    background-color: gray;
    height: 100px;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (min-width:640px){
    .hero{
      grid-column-start: 1;
      grid-column-end: span 4;
      grid-row-start: 1;
    }
  }