* {
  padding: 0;
  margin: 0;
}

.aside-lastest {
  background-color: #222831;
  color: #ececec;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  
  .news-wrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #151b24;
    border-radius:10px;
    color: #ececec;
    padding: 2em;
    margin: 0.5em;
    background-color: #151b24;

    &__img {
      width: 100%;
      border-radius: 5px;
    }

    &__subtitle {
      color: #f2a365;
      margin-bottom: 0.4em;
      font-family: 'Bebas Neue', cursive;
      font-size: .7em;
    }

    &__title {
      color: #ececec;
      margin-bottom: 0.4em;
      font-family: 'Vollkorn';
      text-align: center;
      font-size: .5em;
    }

  }
  
  }
}


@media screen and (min-width:640px){
  .aside-lastest{
   
    width: 100%;
    grid-row-start: 2;
    grid-row-end:span 1;
    grid-column-start:4;
    grid-column-end: span 1;

    .news{
      &__title {
        font-size: .4em;
      }

    }

  }

}