.principal-section{
background-color: #151b24;
border: 1px transparent solid;
padding: 1em;
display: inline-flex;
flex-direction: column;
align-items:center;

    &__link{
        text-decoration: none;
    }

    &__article{
        width: inherit;
        padding: 1em;    
        width: 90%;

        &--container{
            color: #222831; 
        }

        &--title{
            font-family: 'Vollkorn';
            color:#ececec;
            margin:.3em;
        }

        &--subtitle{
            color: #ef4b4b;
            font-family: 'Bebas Neue', cursive;
        }

        &--img{
            margin:.3em;
            width: 100%;
        }

    }
}

@media screen and (min-width:640px){

    .principal-section{
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 2;      
        &__article{
            width: 70%;
        }
    }
}