.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #222831;
    color: #ececec;
    grid-row-start: 3;
}

@media screen and (min-width:640px){
  
    .footer{
   
      padding: .7em;
    }
  }