.App-Grid{
    display:grid;
     grid-template-rows: 7% auto 10%;
    width: 100vw;
    height: 100vh;
    background-color: #222831;
}

@media screen and (min-width:640px){
  
    .App-Grid{
        display:grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: 7% auto 10%;
        width: 100%;
        height: 100%;
    }
  }